@import "tailwindcss";

@theme inline {
  --color-bg: #0b0e14;
  --color-surface: #12151e;
  --color-surface-2: #171b26;
  --color-border: #232838;

  --color-ink: #e7e9ee;
  --color-ink-soft: #8890a3;

  --color-purple: #a78bfa;
  --color-pink: #f472b6;
  --color-orange: #fb923c;
  --color-blue: #60a5fa;
  --color-teal: #2dd4bf;

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background: #0b0e14;
  color: #e7e9ee;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-14px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
